<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="./css/styles.css" />

</head>
<body>
    <div>
        {{>header}}
        <p>This site was created by Phani BhushanIt uses data from mapbox.com & weatherstack.com</p>
        <img class="portrait" src="/img/PHANI_BHUSHAN.jpg" />
    </div>
    
    {{>footer}}


</body>

</html>