<header>
    <h1> {{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about1">About</a>
    <a href="/help">Help</a>
    <a href="/aero">Aero 2021</a>
    <a href="/aero3d">Aero 3d</a>

</header>